<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602649001955-kdfo39a1e61mp76lm93i6nm8ea2b3n95.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602649001955-kdfo39a1e61mp76lm93i6nm8ea2b3n95</string>
	<key>API_KEY</key>
	<string>AIzaSyCuQweTc4GkAYq0XrBgO2XtWxcHWR-PD_g</string>
	<key>GCM_SENDER_ID</key>
	<string>602649001955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.NexseedChat</string>
	<key>PROJECT_ID</key>
	<string>nexseedchat</string>
	<key>STORAGE_BUCKET</key>
	<string>nexseedchat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602649001955:ios:f4af4ec3d24decd3</string>
	<key>DATABASE_URL</key>
	<string>https://nexseedchat.firebaseio.com</string>
</dict>
</plist>